
doctype html
html
    head

        //--SEO meta properties
        meta(name="author", content="Cristian Birzu")
        meta(name="keywords", content="static, responsive, website, html")

        //--css meta properties
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width/10")

        title MockUI | Welcome
        link(rel="stylesheet", href="./css/style.css")
    body

        //-- page header
        block pageHeader

        //-- page content
        section.page-section
            block pageContent

        //-- includes the home section
        //--section#home.page-section
            include views/home.pug
    
        //-- includes the about section
        //--section#about.page-section
            include views/about.pug
            
        //-- includes the services section
        //--section#services.page-section
            include views/services.pug
            
        footer
            p
                | MockUI, Copyright &copy; 2017