

//-- condition to display the showcase section
- let hideShowcase = !(view === 'home')

doctype html
html
    head

        //--SEO meta properties
        meta(name="author", content="Cristian Birzu")
        meta(name="keywords", content="static, responsive, website, html")

        //--css meta properties
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title MockUI | #{title}
        link(rel="stylesheet", href="./css/style.css")

    body

        //-- page header
        header
            div.container
            
                div#branding
                    h1 Mock
                        span UI
                
                include views/navbar
                        
        //-- showcase area
        section#showcase(style=hideShowcase ? "display: none;" : "")

                div.container

                    h1
                        | Static responsive website
                    p
                        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed blandit odio, eu varius quam. Maecenas lobortis elementum lorem ut tempor. Nam pulvinar non odio ut dignissim.

        //-- newsletter area
        section#newsletter
            div.container

                h1
                    | Subscribe to our newsletter

                form
                    input(type="email", placeholder="Enter Email...")
                    button.button_1(type="submit")
                        | Subscribe

        //-- page content
        section.page-section
            block pageContent

        //-- page footer
        footer
            p
                | MockUI, Copyright &copy; 2017